--exclude .build
--exclude .swiftpm
--swiftversion 5.1
--disable redundantSelf
--disable sortedImports
--disable blankLinesAtStartOfScope
--disable blankLinesAtEndOfScope
--disable unusedArguments
--disable hoistPatternLet
--disable numberFormatting
--disable redundantRawValues
--disable andOperator
--ifdef noindent
--ranges nospace
